# outputs

*.out

# pycache

analyse_spectra_sh/__pycache__
make_spectra_sh/__pycache__
simba_c/analyse_spectra_sh/__pycache__
simba_c/make_spectra_sh/__pycache__

# checkpoints

simba_c/make_spectra_sh/.ipynb_checkpoints
simba_c/analyse_spectra_sh/.ipynb_checkpoints
make_spectra_sh/.ipynb_checkpoints
analyse_spectra_sh/.ipynb_checkpoints
.ipynb_checkpoints
plots/.ipynb_checkpoints
tools/__pycache__/
